body{
    font-size: 16px;
}
.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}
.custom-select.ng-touched.ng-invalid{
    border: 2px solid red;
}
.formsStyle{
    border-radius: 25px 10px ;
    border: 2px solid black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.imageListe {
    height:30px;
    float: left;
    
    }
    .imageListe img {
    width:80px;
    height:60px;
    float: right;
    }
    .imageListe img:hover {
    width:300px;
    height:400px;
    }


    a{
        cursor: pointer;
    }